html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }
.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Space between the text and the button */
    padding: 20px;
    position: sticky;
    top:0;
    background-color: white;
}
.brand-link{
    text-decoration: none;
    color:black;

}
.brand-link:hover{
    cursor: pointer;
}

.call-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #2ecc71; /* A nice "call green" color */
    color: white;
    text-decoration: none;
    border-radius: 50%; /* Makes it a circle */
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.call-button:hover {
    transform: scale(1.1); /* Slightly grows when hovered */
    background-color: #27ae60;
}
.phone-number{
    text-decoration: none;
    color:black;
}

.hero-img{
    width:100%;
    height:200px;
    margin-bottom: 1rem;
}
.hero-img>img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.pizza-img {
    width: 350px;       /* Fills the card width */
    height: 200px;     /* Keeps them all the same height */
    object-fit: cover; /* Crops nicely without stretching */
    border-radius: 8px 8px 0 0; /* Rounds the top corners */
    padding-block:1em ; 

}
#pizza-container{
    background-color: gray;
    width:100%;
    height:100%;
    padding: 1em  0.2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
}

.pizza-card {
    width:350px;
    height:500px;
    padding:0 ; 
    background-color: black;
    border:2px dashed yellow;
    border-radius:10px;
    margin:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pizza-card:hover{
    border:3px dashed blue;

}


.pizza-card h2, .pizza-card p {
    padding: 10px; /* Add padding back to the text only */
    color:white;
}
.map-container{
    width:80%;
    height:300px;
    margin: 1rem auto;

}
.google-map{
    width:100%;
    height:100%;
    object-fit: cover;
}
.google-map:hover{
    cursor: pointer;
}
.footer-container{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: whitesmoke;
}